Repository pagopa/selfcare, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex, @pagopa/selfcare-contributors

chore: Updating gha infra
  .github/workflows/run_release_cert_infra.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

chore: Updating gha infra
  .github/workflows/run_release_cert_infra.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7474] Removed ManageProductUsers and ListProductUsers actions from ADMIN_EA role for prod-io (#282)
  src/main/resources/role_action_mapping.json
  src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  src/test/resources/features/user.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7480] Added new action ListProductGroups. Removed action ManageProductGroups from ADMIN_EA role for prod-io (#284)
  src/main/resources/role_action_mapping.json
  src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  src/test/resources/features/user.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

feat: Adding new mail_sso certificate
  infra/cert/01_key_vault_operations.tf
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

feat: Removing new mail_sso certificate
  .pre-commit-config.yaml
  infra/apps/auth/.terraform.lock.hcl
  infra/apps/auth/env/dev-pnpg/terraform.tfvars
  infra/apps/auth/env/dev-pnpg/tfmodules.lock.json
  infra/apps/auth/env/dev/terraform.tfvars
  infra/apps/auth/env/dev/tfmodules.lock.json
  infra/apps/auth/env/prod-pnpg/terraform.tfvars
  infra/apps/auth/env/prod-pnpg/tfmodules.lock.json
  infra/apps/auth/env/prod/terraform.tfvars
  infra/apps/auth/env/prod/tfmodules.lock.json
  infra/apps/auth/env/uat-pnpg/terraform.tfvars
  infra/apps/auth/env/uat-pnpg/tfmodules.lock.json
  infra/apps/auth/env/uat/terraform.tfvars
  infra/apps/auth/env/uat/tfmodules.lock.json
  infra/apps/auth/tfmodules.lock.json
  infra/cert/01_key_vault_operations.tf
  infra/cert/env/dev-pnpg/tfmodules.lock.json
  infra/cert/env/dev/tfmodules.lock.json
  infra/cert/env/prod-pnpg/tfmodules.lock.json
  infra/cert/env/prod/tfmodules.lock.json
  infra/cert/env/tfmodules.lock.json
  infra/cert/env/uat-pnpg/tfmodules.lock.json
  infra/cert/env/uat/tfmodules.lock.json
  infra/cert/locals.tf
  infra/cert/tfmodules.lock.json
  infra/cert/utils/py/tfmodules.lock.json
  infra/repository/README.md
  infra/repository/tfmodules.lock.json
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex, @pagopa/selfcare-contributors

feat: Removing new mail_sso certificate
  .pre-commit-config.yaml
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7589] Attempt to resolve the mysterious PDV conflict with retry (#287)
  src/main/java/it/pagopa/selfcare/user/service/UserServiceImpl.java
  src/main/java/it/pagopa/selfcare/user/util/UserUtils.java
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

feat: Adding new SAML validation rest endpoint
  .pre-commit-config.yaml
  apps/auth/pom.xml
  apps/auth/src/main/docs/openapi.json
  apps/auth/src/main/docs/openapi.yaml
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/request/SAMLResponse.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLService.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLServiceImpl.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/main/resources/application.properties
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex, @pagopa/selfcare-contributors

feat: Adding new SAML validation test endpoint
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/controller/SamlCallbackControllerTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorCertificateTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
  apps/auth/src/test/resources/test.keystore
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorCertificateTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/pom.xml
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorValidateTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: Adding new SAML validation test endpoint
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/controller/SamlCallbackControllerTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorCertificateTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] chore: prevent log injection risk
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

Add IAM skeleton app
  apps/auth/runConfig/Template Cucumber Java.run.xml
  apps/iam/Dockerfile
  apps/iam/docker-compose.yml
  apps/iam/pom.xml
  apps/iam/src/main/java/it/pagopa/selfcare/iam/conf/DateCodec.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/conf/IamConfig.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/conf/JacksonConfiguration.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/conf/MongoConfig.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/controller/IamController.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/controller/response/Problem.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/ConflictException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/ForbiddenException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/InternalException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/InvalidRequestException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/ResourceNotFoundException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/UnimplementedException.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/exception/handler/ExceptionHandler.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/filter/CustomClientRequestLoggingFilter.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/filter/CustomClientResponseLoggingFilter.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/filter/CustomLoggingFilter.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/filter/MDCUtils.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/service/IamService.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/service/IamServiceImpl.java
  apps/iam/src/main/java/it/pagopa/selfcare/iam/util/GeneralUtils.java
  apps/iam/src/main/resources/application.properties
  apps/iam/src/test/java/it/pagopa/selfcare/iam/util/GeneralUtilsTest.java
  apps/iam/src/test/resources/application.properties
  apps/pom.xml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

Add IAM Container Infra
  infra/apps/iam/apim.tf
  infra/apps/iam/container_app.tf
  infra/apps/iam/env/dev-pnpg/backend.ini
  infra/apps/iam/env/dev-pnpg/backend.tfvars
  infra/apps/iam/env/dev-pnpg/terraform.tfvars
  infra/apps/iam/env/dev-pnpg/tfmodules.lock.json
  infra/apps/iam/env/dev/backend.ini
  infra/apps/iam/env/dev/backend.tfvars
  infra/apps/iam/env/dev/terraform.tfvars
  infra/apps/iam/env/dev/tfmodules.lock.json
  infra/apps/iam/env/prod-pnpg/backend.ini
  infra/apps/iam/env/prod-pnpg/backend.tfvars
  infra/apps/iam/env/prod-pnpg/terraform.tfvars
  infra/apps/iam/env/prod-pnpg/tfmodules.lock.json
  infra/apps/iam/env/prod/backend.ini
  infra/apps/iam/env/prod/backend.tfvars
  infra/apps/iam/env/prod/terraform.tfvars
  infra/apps/iam/env/prod/tfmodules.lock.json
  infra/apps/iam/env/uat-pnpg/backend.ini
  infra/apps/iam/env/uat-pnpg/backend.tfvars
  infra/apps/iam/env/uat-pnpg/terraform.tfvars
  infra/apps/iam/env/uat-pnpg/tfmodules.lock.json
  infra/apps/iam/env/uat/backend.ini
  infra/apps/iam/env/uat/backend.tfvars
  infra/apps/iam/env/uat/terraform.tfvars
  infra/apps/iam/env/uat/tfmodules.lock.json
  infra/apps/iam/locals.tf
  infra/apps/iam/main.tf
  infra/apps/iam/terraform.sh
  infra/apps/iam/tfmodules.lock.json
  infra/apps/iam/variables.tf
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

Add IAM pipelines
  .github/workflows/pr_iam.yml
  .github/workflows/pr_iam_infra.yml
  .github/workflows/release_app.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

Fix terraform state
  apps/iam/src/main/resources/application.properties
  infra/apps/iam/env/dev-pnpg/backend.tfvars
  infra/apps/iam/env/dev/backend.tfvars
  infra/apps/iam/env/prod-pnpg/backend.tfvars
  infra/apps/iam/env/prod/backend.tfvars
  infra/apps/iam/env/uat-pnpg/backend.tfvars
  infra/apps/iam/env/uat/backend.tfvars
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

fix openapi + tf lock
  apps/iam/src/main/docs/openapi.json
  apps/iam/src/main/docs/openapi.yaml
  infra/apps/auth/.terraform.lock.hcl
  infra/apps/iam/.terraform.lock.hcl
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] chore: adding test for certificate expired
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorCertificateTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] chore: adding test for certificate expired
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] chore: adding test for saml response on controler
  apps/auth/src/test/java/it/pagopa/selfcare/auth/controller/SamlCallbackControllerTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7513] feat: adding config
  infra/apps/auth/env/dev/terraform.tfvars
  infra/apps/auth/env/prod/terraform.tfvars
  infra/apps/auth/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7480] Temporarily restored ManageProductGroups permission for ADMIN_EA prod-io users (#290)
  src/main/resources/role_action_mapping.json
  src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  src/test/resources/features/user.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7672] Added support tag to deleteMemberFromUserGroup and deleteMemberFromUserGroups. Improved documentation. (#293)
  src/main/docs/openapi.json
  src/main/java/it/pagopa/selfcare/user_group/controller/UserGroupV1Controller.java
  src/main/resources/swagger/swagger_en.properties
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7461] feat: add parentInstitutionId in UserGroups model (#291)
  src/main/java/it/pagopa/selfcare/user/event/entity/UserGroupEntity.java
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7461] feat: add parentInstitutionId in UserGroups model (#291)
  src/main/java/it/pagopa/selfcare/user_group/api/UserGroupOperations.java
  src/main/java/it/pagopa/selfcare/user_group/model/GroupDto.java
  src/main/java/it/pagopa/selfcare/user_group/model/UserGroupEntity.java
  src/test/java/it/pagopa/selfcare/user_group/model/DummyGroup.java
  src/test/resources/application-test.properties
  src/test/resources/features/createGroup.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7640] Replaced action Selc:ManageProductUsers with Selc:CreateProductUsers, Selc:UpdateProductUsers, Selc:DeleteProductUsers (#292)
  src/main/resources/role_action_mapping.json
  src/test/java/it/pagopa/selfcare/user/service/UserServiceTest.java
  src/test/resources/features/user.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7515] feat: added retrieve user attributes on saml response
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/main/resources/application.properties
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7515] feat: adding test
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/ConflictException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/ForbiddenException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/InternalException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/InvalidRequestException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/OtpForbiddenException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/SamlSignatureException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/UnimplementedException.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/handler/ExceptionHandler.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7515] feat: adding test
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/exception/handler/ExceptionHandler.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLService.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLServiceImpl.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/controller/SamlCallbackControllerTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorValidateTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7515] feat: adding test
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7326] feat: add field toAddOnAggregates to createOrUpdateByFiscalCode and createOrUpdateByUserId api (#294)
  src/main/docs/openapi.json
  src/main/docs/openapi.yaml
  src/main/java/it/pagopa/selfcare/user/controller/request/AddUserRoleDto.java
  src/main/java/it/pagopa/selfcare/user/controller/request/CreateUserDto.java
  src/main/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapper.java
  src/test/java/it/pagopa/selfcare/user/integration_test/steps/UserSteps.java
  src/test/java/it/pagopa/selfcare/user/mapper/UserInstitutionMapperTest.java
  src/test/resources/features/user.feature
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

[SELC-7326] feat: add field toAddOnAggregates to createOrUpdateByFiscalCode and createOrUpdateByUserId api (#294)
  src/main/java/it.pagopa.selfcare.user.model/OnboardedProduct.java
Owners: @pagopa/selfcare-admin, @pagopa/engineering-team-devex

Add IAM container DEV private dns name
  infra/apps/iam/env/dev/terraform.tfvars
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7515] feat: adding test
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

[SELC-7515] chore: refactoring and testing
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/SamlCallbackController.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/controller/response/SamlExchangeResponse.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/OidcServiceImpl.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLService.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SAMLServiceImpl.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SessionService.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/service/SessionServiceImpl.java
  apps/auth/src/main/java/it/pagopa/selfcare/auth/util/SamlValidator.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/controller/SamlCallbackControllerTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/service/SAMLServiceTest.java
  apps/auth/src/test/java/it/pagopa/selfcare/auth/util/SamlValidatorTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @pagopa/engineering-team-devex

CODEOWNERS:

* @pagopa/selfcare-admin @pagopa/engineering-team-devex

/libs @pagopa/selfcare-admin @pagopa/selfcare-contributors @pagopa/engineering-team-devex
/apps @pagopa/selfcare-admin @pagopa/selfcare-contributors @pagopa/engineering-team-devex
/.opex @pagopa/selfcare-admin @pagopa/selfcare-contributors @pagopa/engineering-team-devex

/.github @pagopa/selfcare-admin @pagopa/selfcare-contributors @pagopa/engineering-team-devex
/infra @pagopa/selfcare-admin @pagopa/selfcare-contributors @pagopa/engineering-team-devex
